*{
  margin: 0;
  padding: 0;
}

body{
  background: url("img/smooth-blue-concrete-wall.jpg") repeat-y;
  width: 100%;
  background-size: cover;
}

.tittle_text{
  
  padding-top: 15px;
  text-align: left;
  margin-left: 15px;
  color: white;
  font-size: 50px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.main{
  position: relative;
  padding-right: 50px;
}

.pre-main-text{
  
  padding-top: 35px;
  text-align: left;
  padding-left: 15px;
  color: white;
  font-size: 23px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.languages {
  text-align: center;
  padding-top: 35px;
  
  display: inline-block;
  
}

.about {
  color: white;
  font-size: 24px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.logos {
  width: 170px;
  height: 170px;
  margin: 0 auto;
  
}

.mini-about-text {
  
  width: 320px;
  padding: 10px; 
  color: white;
  font-size: 15px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.html,
.css,
.js {
  display: inline-block;
  
}

.after-text{
  
  max-width: 1100px;
  display: block;
  padding-top: 80px;
  text-align: left;
  padding-left: 15px;
  color:papayawhip;
  font-size: 21px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

.internet-main{
  padding-left: 15px;
  max-width: 1600px;
  padding-top: 90px;
  text-align: left; 
  color: white;
  font-size: 23px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.site-content{

  max-width: 1600px;
  padding-top: 55px;
  text-align: left; 
  color: white;
  font-size: 23px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.new_site_abz{
  padding-top: 20px
}

.name_list{
  padding-top: 20px;
  font-size: 30px;
}

.site_list{
  max-width: 1200px;
  padding-left: 60px;
  padding-top: 17px;
  font-size: 25px;
}

.list_punct{
  padding-bottom: 17px;
}

.site_create{
  max-width: 1600px;
  padding-top: 55px;
  
  text-align: left; 
  color: white;
  font-size: 23px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.new_site_abz{
  padding-top: 20px
}

.frontend_tittle{
  padding-top: 55px;
}

.after_logos{
  max-width: 1600px;
  padding-top: 35px;
  padding-left: 15px;
  text-align: left; 
  color: white;
  font-size: 23px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.site_list_frame{
  max-width: 1200px;
  padding-left: 45px;
  padding-top: 17px;
  font-size: 25px;
}

.ITOGI{
    max-width: 1600px;
    padding-top: 55px; 
    padding-left: 15px;  
    text-align: left; 
    color: white;
    font-size: 23px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }


