@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap');

* {
  padding: 0;
  margin: 0;
}

body, html {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
}

.container {
  width: 80%;
}

.title {
  text-align: center;
  padding-top: 80px;
}

.title-text {
  font-family: 'Noto Sans', sans-serif;
}

.title-img {
  width: 60%;
  height: 450px;
  border-bottom: 2px solid black;
}

.menu {
  width: 100%;
}


.menu-list {
  width: 100%;
  text-align: center;
  display: flex;
  padding: 5px;
  border-bottom: 2px solid black;
  list-style-type: none;
}

.menu-list-point {
  margin: 0 auto;
  text-decoration: none;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
}

.menu-list-link {
  text-decoration: none;
  color: black;
}

.menu-list-link:hover {
  text-decoration: underline;
}

.main {
  text-align: center;
  padding-top: 50px;
}


.img-internet {
  width: 60%;
  height: 450px;
  padding-top: 10px;
}

.paragraph-internet {
  margin: 0 auto;
  width: 90%;
  text-align: justify;
  padding-top: 10px
}

.site-body {
  padding-top: 50px;
}

.paragraph-site-body {
  padding-top: 10px;
  width: 90%;
  text-align: justify;
}

.site-body-img {
  width: 60%;
  height: 450px;
  padding-top: 10px;
}

.site-body-list-part {
  padding-top: 10px;
}

.site-body-list {
  padding-left: 35px;
  list-style-type: none;
}

.site-body-list li {
  padding-top: 5px;
}

.site-work {
  padding-top: 10px;
  width: 90%;
  text-align: justify;
}

.site-work-list {
  padding-left: 35px;
  list-style-type: none;
}

.site-work-list li {
  padding-top: 5px;
}

.site-create {
  padding-top: 50px;
  width: 100%;
  
}

.site-create-title{
  margin: 0 auto;
}

.site-create-pre-title{
  width: 90%;

  text-align: justify;
}

.site-create-img {
  width: 60%;
  height: 450px;
  padding-top: 10px;

}

.site-create-list {
  padding-left: 35px;
  list-style-type: none;
  text-align: justify;
}

.site-create-list li {
  padding-top: 5px;
}

.frontend {
  padding-top: 25px;
}


.html-title {
  padding-top: 10px;
}

.HTML, .CSS, .JS {
  width: 170px;
  height: 170px;

}

.about-html, .about-css, .about-js {
  text-align: center;
  width: 45%;
  margin: 0 auto;
  
}

.html-title, .css-title, .JS-title {
  padding-top: 30px;
}

.after-logos {
  padding-top: 30px;
  text-align: left;
  text-align: justify;
}

.frameworks {
  text-align: left;
  padding-top: 10px;
}

.frame-list {
  text-align: left;
  padding-left: 35px;
}

.frame-list li {
  padding-top: 5px;
}

.ITOGI {
  padding-top: 50px;
  margin: 0 auto;
  width: 90%;

}

.itogi-img {
  width: 70%;
  height: 450px;
  padding-top: 10px;
}

.itogi-text{
    text-align: justify;
}

.to-start {
  padding-top: 50px;
  padding-bottom: 5px;
}

.to-start a {
  color: black;
  text-decoration: none;
}

.to-start a:hover {
  text-decoration: underline;
}


@media(max-width: 1400px) {
  .img-internet, .title-img, .site-create-img, .itogi-img, .site-body-img {
    width: 100%;
    height: 450px;
  }
}

@media(max-width: 1360px) {
  .img-internet, .title-img, .site-create-img, .itogi-img, .site-body-img {
    width: 80%;
    height: 300px;
  }
}

@media(max-width: 950px) {
  .menu-list {
    margin: 0 auto;
    display: block;
  }
}

@media(max-width: 700px) {
  .about-html, .about-css, .about-js {
    width: 80%;
  }
  .site-create-list {
    width: 100%;
  }
}

@media(max-width: 800px) {
  .img-internet, .title-img, .site-create-img, .itogi-img, .site-body-img {
    width: 100%;
    height: 250px;
  }

  .paragraph-internet, .paragraph-site-body, .site-create-plan, .frameworks, .ITOGI {
    width: 100%;
  }
}




